.content tr{
  height: 7rem;
}
.content th{
  width: 150px;
  text-align: right;
  padding-right: 1rem;
}
.content td{
  width: 480px;
}
.info_box{
  width: 100%;
}
.content_box{
  width: 100%;
  border: solid 1px #B1B1B1;
}
#submit_button{
  text-align: center;
  font-size: 3rem;
}
#submit_button input{
  background-color: #A9A9A9;
  color: #fff;
}
#submit_button input:hover{
  opacity: 0.5;
}
